<style>
  .search-btn{
      background-color: #fe424d;
      color: #fff;
      border-radius: 25px;
      padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
      background-color: #fe424d;
      color: #fff;
  }
  .icon{
      display: inline;
      margin-right: 0.5rem;
      border-radius: 25px;
  }
  .search-input{
      border-radius: 25px;
      padding: 0.5rem 3rem 0.5rem 3rem;
      font-size: 0.8rem;
  }
  .navbar {
      z-index: 1000; /* Ensure navbar is always on top */
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/listings">Explore</a>
          </div>
          <div class="navbar-nav ms-auto">
              <form class="d-flex">
                  <input class="form-control me-2 search-input" type="search" placeholder="Search destinations">
                  <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass icon"></i>Search</button>
              </form>
          </div>
          <div class="navbar-nav ms-auto d-none d-md-flex"> <!-- Show these links on medium and larger screens -->
              <a class="nav-link" href="/listings/new">Airbnb your home</a>
              <% if (!currUser) { %>
                  <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
                  <a class="nav-link" href="/login"><b>Login</b></a>
              <% } %>
              <% if (currUser) { %>
                  <a class="nav-link" href="/logout"><b>Logout</b></a>
              <% } %>
          </div>
      </div>
  </div>
</nav>

<!-- Sidebar Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="navbar-nav d-md-none"> <!-- Hide these links on medium and larger screens -->
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if (!currUser) { %>
              <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
              <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
          <% if (currUser) { %>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
          <% } %>
      </div>
  </div>
</div>